body {
  padding-top: 1em;
}

#updateuser {
  display: none;
}

.emptyname, .emptyemail, #clearform {
  display: none;
}

.userbox {
  background-color: rgb(235, 235, 235);
}

.username {
  font-weight: bold;
}

.contact-buttons {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.thead-dark {
  background-color: #343a40;
  color: white;
  font-weight: bold;
}

.project-list:hover {
  background-color: rgb(243, 243, 243);
}