body {
  padding-top: 1em;
}

#updateuser {
  display: none;
}

.emptyname, .emptyemail, #clearform {
  display: none;
}

.userbox {
  background-color: rgb(235, 235, 235);
}

.username {
  font-weight: bold;
}

.contact-buttons {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}